* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url('../img/teste3.png');
    background-size: cover;
    background-position: center;
    font-family: 'Orbitron', sans-serif;
}

header {
    display: flex;
    align-items: center;
    color: white;
    padding: 2rem 7rem 0 2rem;
}

#home {
    padding-left: 1rem;
}

#nome-mapa {
    padding-left: 40%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-weight: bold;
    margin-top: 2rem;
}

#mapa-2d {
    width: 35%;
    padding-bottom: 1rem;
}


