* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url('../img/background2.png');
    background-size: cover;
    background-position: center;
    font-family: 'Orbitron', sans-serif;
}

header {
    display: flex;
    align-items: center;
    color: white;
    padding: 2rem 7rem 2rem 4rem;
}

header a img {
    width: 2rem;
}

#home {
    padding-left: 1rem;
}

#nome-mapa {
    padding-left: 42%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

#mapa-2d {
    width: 35%;
    padding-bottom: 1rem;
}

#foto-mapa {
    width: 35%;
    padding-bottom: 1rem;
}

@media (max-width: 1300px) {

    header {
        padding-left: 1rem;
    }
    
    .container {
        margin-top: 5rem;
    }
    
    #mapa-2d {
        width: 55%;
        padding-bottom: 5rem;
    }
}

@media (max-width: 767px) {

    header {
        padding-left: 1rem;
    }

    #nome-mapa {
        padding-left: 20%;
    }
    #mapa-2d {
        width: 75%;
    }
    
}
